<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Sobre Mí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Sobre Mí</ion-title>
    </ion-toolbar>
  </ion-header>

<!---Body App-->
<main class="__main">
  <div class="__col_img">
    <img src="../../assets/images/ignrith.png" alt="" class="__me_img"/>
  </div>

  <section class="__main_info">
    <div class="__info_1">
      <h1>Ingrith Revelo</h1>
      <p>Desarrolladora de Software</p>
    </div>

    <div class="__card-container">

      <!--Personal data card-->
      <ion-card class="__self_info">
        <ion-card-header>
          <ion-card-subtitle>
            Datos Personales
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="data_list">
          <ul>
            <li><span>Cédula:</span>&nbsp;1726733312</li>
            <li><span>Correo:</span>&nbsp;dejaneiraromero&#64;gmail.com</li>
            <li><span>Fecha de Nacimiento:</span>&nbsp; 19 de Julio del 2002</li>
            <li><span>Ciudad:</span>&nbsp;Quito, Ecuador</li>
          </ul>
        </ion-card-content>
      </ion-card>

      <!--About card-->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            Sobre Mí
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="__me_info">
          Soy  estudiante  dedicada y apasionada a la carrera de desarrollo de software.  <br>Título de bachiller en industrias “ Electrónica”.
        </ion-card-content>
      </ion-card>

      <!--Academic Info card-->
      <ion-card class="_academic_card">
        <ion-card-header>
          <ion-card-subtitle>
            Información Académica
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="__academic_content">
          <div class="academic_pins">
              <h3>Tecnólogo Superior en Desarrollo Software</h3>
              <p>Escuela Politénica Nacional</p>
          </div>
          <br>
          <div class="_academic_pins">
            <h3>Bachiller en Industrias Electrónica</h3>
            <p> Unidad Educativa Central Técnico</p>
        </div>
        </ion-card-content>
      </ion-card>

      <!--Social media card-->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            Cursos Realizados 
          </ion-card-subtitle>

         
        </ion-card-header>

        <ion-card-content>
          . Worshop de Gear
          <br>. Jornadas Tecnológicas
          <br>. Navegación Segura 
          <br>. Feria Tecnológica de la ESFOT
          <br>. ASP.NET
          <br>. Wordpress

        </ion-card-content>
      </ion-card>

    </div>

    <div class="__aux"></div>
  </section>
</main>


