<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Habilidades</ion-title>
    </ion-toolbar>
  </ion-header>

<!---Body App-->
<swiper-container>

  <!--Swiper A-->
    <swiper-slide>
      <ion-card class="_hability_card">
        <ion-grid>
          <ion-row>
          <ion-col class="_info_col">
            <ion-card-header>
              <ion-row class="_icon_hab">
                
              </ion-row>
            </ion-card-header>
            <ion-card-content >
              Habilidades de escucha activa.
              <br>Trabajo en equipo.
              <br>Solucion de problemas.
              <br>Toma de decisiones informadas
              <br>Adaptabilidad
            </ion-card-content>
          </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card>
    </swiper-slide>



<!--Swiper D-->

</swiper-container>

<ion-item-divider>
</ion-item-divider>

<ion-text>
    <h2 class="second_title">Lenguajes de Programación </h2>
  </ion-text>

<div class="__card_hab_cont">
          <!--Card Item-->
      <ion-card class="sqlite_card">
        <ion-grid>
            Java
            <br>Python
            <br>C++
            <br>JavaScript - React
            <br>SQL - MySQL
        </ion-grid>
      </ion-card>

      
</div>
</ion-content>
